* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  margin: 0 auto;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: gray;
}

.dark {
  background-color: #111;
  color: gray;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
