.container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText {
  color: gray;
}

.socialIcons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
